.app{
    background-image: url("./images/bg_03.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.btn-success{
    background: #3AA682 !important;
    border-color: #3AA682 !important;
}