.img-home{
    height: 20px;
    position: relative;
    bottom: 3px;
}

.active{
    background: #00B7FF !important;
}

.btn-light{
    background:#FFBFC5 !important;
    color: white !important;
}

.btn-danger{
    background: #d73f3f !important;
    color: white !important;
}

.btn-info{
    background: lightskyblue !important;
    border: lightskyblue !important;
    color: white !important;
}

.img-fluid-sm{
    width:25px;
    height:25px;
    border-radius: 50%;
}