.card-container {
  display: flex;
  justify-content: space-between;
}
.head {
  margin: 10px;
}
.checkbox-container {
  display: inline-flex;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 10px;
}   
.checkbox {
  min-width: 20px;
  min-height: 20;
  border-radius: 1px;
  margin: 5px;
}
label {
  margin: 0;
  padding-top: 10px;
}
